body {
    background-color: #068FFF;
    font-family: sans-serif;
    text-align: center;
}

.card {
    background-color: #EEEEEE;
    padding: 20px;
}

.weight {
    display: block;
}

.weight input[type='number']

h1 {
    margin-top: 0;
}

