body {
    background-color: #068FFF;
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 0;
    background-color: #068FFF;
    color: #ffffff;
}

.card {
    background-color: #EEEEEE;
    width: 20%;
    margin-left: 40%;
    border-radius: 10px;
    margin-top: 8%;
    box-shadow: 0 0 10px 0 #4141a0;
}

.weight {
    display: block;
    text-align: start;
    padding: 20px;
}

.height {
    display: block;
    text-align: start;
    padding: 20px;
}

input[type='number'] {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 0 #4141a0;
}

input[type='radio'] {
    margin-bottom: 20px;
}

.result {
    padding: 5%;
}

.result button {
    background-color: #068FFF;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 0 #4141a0;
}
